
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  margin: 32px 0;
  font-size: 24px;
  justify-content: center;
    display: flex;
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 420px;
  background-color: #101427;
  text-align: center;
  margin: 0px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo .crossText {
  text-decoration: line-through;
  color: red;
}

.todo input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 1px solid #f50057;
  outline: none;
  width: 320px;
  background: transparent;
  font-size: 1.1rem;
  padding: 10px;
  color: #e2e2e2;
  margin: 20px 20px;
}

.todo input::placeholder {
  font-size: 1.1rem;
  padding: 10px;
  color: #e2e2e2;
}

.todo .add-btn {
  background: #101427;
    border: 1px solid #f50057;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 13.8px;
    text-transform: uppercase;
}

.todo .add-btn:hover {
  color: #f50057;
}

.todo ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo ul li {
  margin: 30px 20px 0px 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.todo ul li .delete {
  margin-top: 5px;
  float: right;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
}

.todo ul li .completed {
  margin-top: 5px;
  float: right;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: green;
  margin-left: 10px;
  color: white;
}
.listitem{
  color: white;
}